@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

/* Font Styles */
.heading-large {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4.16667px;
  text-transform: uppercase;
  color: #000000;
  @media (max-width: $layout-breakpoint-small-tablet) {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33333px;
  }
}

.heading-reg {
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  color: #000000;
}

.heading-small {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.heading-xsmall {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #000000;
}

.text {
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  opacity: 0.6;
}

/* Footer Menu Styles*/
.footer-link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-link:hover {
  opacity: 0.3;
}

.footer-copyright {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  color: #ffffff;
  opacity: 0.5;
}
